{% extends "layout.html" %} {% block title%}Top 3 {% endblock title%} {% block
main%} {{ super() }}
<div class="info">
  <div>
    <a href="/joke/{{top_joke_id[0][1]}}" class="top">{{top_joke[0]}}</a>
  </div>
  <br />
  <div>
    <a href="/joke/{{top_joke_id[1][1]}}" class="top">{{top_joke[1] }}</a>
  </div>
  <br />
  <div>
    <a href="/joke/{{top_joke_id[2][1]}}" class="top">{{top_joke[2] }}</a>
  </div>
</div>
<div style="margin-bottom: 40px">
  <a href="/" class="footer">Back to search page</a>
</div>
{% endblock main%}
